* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85em;
}
#mainContent {
  width: 80%;
  margin: 0 auto;
}
header {
  background-color: rgb(240, 238, 238);
  text-align: center;
  border-radius: 0 0 10px 10px;
  padding: 2em 2.5em;
}
#formContainer {
  margin-top: 2em;
  padding: 1.5em;
  background-color: #fff;
}
#filterButtonContainer {
  display: flex;
  flex-wrap: wrap;
}
#filterButtonContainer button {
  flex-grow: 1;
  border-radius: 0;
  flex-basis: 20%;
}
#filterSection {
  border-top: 1px solid darkslategray;
  background-color: #fff;
  padding-top: 1.25em;
}
#displayContainer {
  margin: 1.5em 0;
  width: 100%;
}

#newStudentDiv,
#expelledStudentDiv {
  padding: 1.5em;
  min-width: 50%;
  text-align: center;
  /* flex-grow: 1; */
  border: 1px solid darkslategrey;
}

/**** Card Colors ****/
.color--Gryffindor1 {
  min-width: 1.5em;
  background-color: #740001;
}
.color--Gryffindor2 {
  flex-basis: 0.85em;
  background-color: #d3a625;
}
.color--Hufflepuff1 {
  min-width: 1.5em;
  background-color: #ffd800;
}
.color--Hufflepuff2 {
  flex-basis: 0.85em;
  background-color: #000;
}
.color--Ravenclaw1 {
  min-width: 1.5em;
  background-color: #0e1a40;
}
.color--Ravenclaw2 {
  flex-basis: 0.85em;
  background-color: #946b2d;
}
.color--Slytherin1 {
  min-width: 1.5em;
  background-color: #1a472a;
}
.color--Slytherin2 {
  flex-basis: 0.85em;
  background-color: #5d5d5d;
}
/*** Toggle FORM  ***/
.hideForm {
  display: none;
}
.showForm {
  display: block;
}
#sortButton {
  padding: 0 0.5em;
}
